body {
    font-family: sans-serif;
    background-color: #212529;
    color: #dee2e6;
}

button.primary-button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 0.375rem;

  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), */
  /*             0 1px 1px rgba(0, 0, 0, 0.075); */

  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
}

button.primary-button:hover {
  color: #ffffff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

button.primary-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

button.primary-button:active {
  color: #ffffff;
  background-color: #0a58ca;
  border-color: #0a53be;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

button.primary-button:disabled {
  color: #ffffff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  opacity: 0.65;
  cursor: not-allowed;
}
